@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200;1,400;1,600;1,700&family=Roboto:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

*,
*::before,
*::after,  div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body);
   
}
/* body{
    width: 100vh;
    height: 100vh;
} */
.fondo {
   background-image: url(../imagenes/fondos/headerp-6.jpg) ;
    background-repeat: no-repeat ;
    background-position: center  center ;
    background-size: cover ;
}


:root{
    /*Paleta de colores del proyecto*/
    --logo-5: #1A7352;
    --logo-1:#1C5948;   
    --logo-2:#26735D;
    --logo-4: #1D7353;
    --logo-3: #C2F2E5;
    --logo-3-600: rgb(194, 242, 229, 0.6);
    --triada-logo-1: rgb(116, 166, 152); 
    --triada-logo-1-500:  rgb(116, 166, 152, .5); 
    --triada-logo-1-800:  rgb(116, 166, 152, .8); 
    --triada-logo-2: #efdaf2;
    --triada-logo-3: #C2F2E5;
    --triada-logo-5: #A69B7C; 
    --triada-logo-4: #F2DfAA; 
    --triada-logo-6: #33A89F; 
    --triada-logo-7: #F56EE5; 
    --triada-logo-8: #62F5E9;
    --triada-logo-9: #F5D449;
    --triada-logo-10: #A8933B;
    --fondo2-1: #B0B2D9 ;
    --fondo2-2: #606EBF;
    --fondo2-3: #8F9AD9;
    --fondo2-4:#D9D2B0 ;
    --fondo2-5:#BF9595 ;

            /* FONDO LAMINA PILI */

    --fondop-1: #8d95a6;
    --fondop-2: #204473;
    --fondop-3: #a6a158;
    --fondop-4: #a6a2cd;
    --fondop-4-500: rgb(166, 162, 205, .5);
    --fondop-4-700: rgb(166, 162, 205, .7);
    --fondop-5: #8c855e;

    --triada-fondop-1:#595426;
    --triada-fondop-2: #689ca6;
    --triada-fondop-3: #a69e58;
    --triada-fondop-4:#A64770;
    --triada-fondop-5:#592b3f;
    --boton-1: #A64770;
    --boton-2: #6898A6;
    --boton-3: #B7A058;
     
   
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31,0.9);
    --dark-700: rgba(31, 31, 31,0.7);
    --dark-500: rgba(31, 31, 31,0.5);
    --dark-300: rgba(31, 31, 31,0.3);
   
   --oscuro-bg-solid: rgb(48, 52, 63);
   --claro-solid: rgb(250, 250, 255);
  
   
   /* Tipografía*/
   --body: 'Roboto', sans-serif;
   --titulo-header: 'Raleway', sans-serif;

   
   body{
    margin-top: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: var(--body);
  
   }

   a{
    text-decoration: none;}       /*saca el subrayado de los enlaces*/
    /* color: inherit;         /* que tome el color que viene heredado
    font-family: inherit;  */ 
  
} 

h2{
   border-top: 1px solid rgb(34, 28, 28, .3) ;
}

cite{
    text-decoration: underline;
    font-family: var(--titulo-header);
  }

img{
    /* display: block; */
    height: auto;
    border-radius: 8px;
    max-width: 100%;
    /*para que no desborden su contenedor*/
     /* display: block; */
    /* para quitarle el margen fantasma con el que aparecen siempre las imagenes*/
   }

   #p2023, #coleccionBailaoras,
   #coleccionElMilagro, #coleccionTecnicasMixtas,
   #coleccionLaminasTinta, #coleccionEnVuelo,
   #coleccionEllas{
   box-shadow: 1px 2px 1px #b19292;
   position: relative;
   }
   
    
   .nav-link:hover , .dropdown-item:hover {
    padding: 8px 16px; /* 8 arriba y abajo y 16 a los costados*/
    background-color: var(--fondop-1);
    max-width: 100%;
}
.material-symbols-outlined{
    color: #3fac8d;
    font-weight: 500;
}
  

 .navbar__link{
    font-size: var(--font-medium);
    padding: var(--espacio-8) var(--espacio-16);
    display: inline-block;   /* inline - block sigue siendo un elemento en linea pero se puede modificar su tamaño y sus propiedades de caja*/
    transition: background-color .4s ease-in-out;
    position: relative;
}
