@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200;1,400;1,600;1,700&family=Roboto:wght@300;400;500&display=swap');

:root{
    /*Paleta de colores del proyecto*/
    --logo-5: #1A7352;
    --logo-1:#1C5948;   
    --logo-2:#26735D;
    --logo-4: #1D7353;
    --logo-3: #C2F2E5;
    --logo-3-600: rgb(194, 242, 229, 0.6);
    --triada-logo-1: rgb(116, 166, 152); 
    --triada-logo-1-500:  rgb(116, 166, 152, .5); 
    --triada-logo-1-800:  rgb(116, 166, 152, .8); 
    --triada-logo-2: #efdaf2;
    --triada-logo-3: #C2F2E5;
    --triada-logo-5: #A69B7C; 
    --triada-logo-4: #F2DfAA; 
    --triada-logo-6: #33A89F; 
    --triada-logo-7: #F56EE5; 
    --triada-logo-8: #62F5E9;
    --triada-logo-9: #F5D449;
    --triada-logo-10: #A8933B;
    --fondo2-1: #B0B2D9 ;
    --fondo2-2: #606EBF;
    --fondo2-3: #8F9AD9;
    --fondo2-4:#D9D2B0 ;
    --fondo2-5:#BF9595 ;

            /* FONDO LAMINA PILI */

    --fondop-1: #8d95a6;
    --fondop-2: #204473;
    --fondop-3: #a6a158;
    --fondop-4: #a6a2cd;
    --fondop-4-500: rgb(166, 162, 205, .5);
    --fondop-4-700: rgb(166, 162, 205, .7);
    --fondop-5: #8c855e;

    --triada-fondop-1:#595426;
    --triada-fondop-2: #689ca6;
    --triada-fondop-3: #a69e58;
    --triada-fondop-4:#A64770;
    --triada-fondop-5:#592b3f;
    --boton-1: #A64770;
    --boton-2: #6898A6;
    --boton-3: #B7A058;
     
   
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31,0.9);
    --dark-700: rgba(31, 31, 31,0.7);
    --dark-500: rgba(31, 31, 31,0.5);
    --dark-300: rgba(31, 31, 31,0.3);
   
   --oscuro-bg-solid: rgb(48, 52, 63);
   --claro-solid: rgb(243, 245, 240);
  
   
   /* Tipografía*/
   --body: 'Roboto', sans-serif;
   --titulo-header: 'Raleway', sans-serif;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body)
}

body{
   
    background-color: var(--claro-solid);
    margin: 2em;
    /* max-width: 1200px; */
    font-family: var(--body);
    
}

header{
    display: flex;
    justify-content: start;
    /* padding-bottom: 2em;*/
    align-items: center;
    margin-bottom: 2em; 
    
  }
  main{
    position: relative;
  }

h1{
    
    color: var(--fondop-3);            
    opacity: .8;
    text-shadow: 1px 1px;   
    padding-top: 0;   
    margin: 2%;
}

img{
    display: block;
    border-radius: 8px;
    align-self: center;
}


#logo{
    padding: 2%;
}

.pintura {
   max-width: 600px;
    margin: 0 auto;
    background-color: rgb(116, 166, 152, .5);
    padding: 1.5rem ;
   
}

.pintura_datos{
    margin-top: 1.5rem; 
   
}

.pintura .pintura_datos h4{
    margin: .8rem 0;
    color: var(--dark-700);
    font-size: large;
    font-weight: 800;
    text-align: center;
    font-family: Roboto;
}

.contenedor-imagen-boton-descripcion button{
    position: absolute; 
    top: 95%; right: 5%;
    background-color: rgb(116, 166, 152, .8); 
    border-radius: 5px; 
    border: 0; 
    box-shadow: 2px 2px 15px #b19292;
}
h4{
    padding: 5px;
}

a{
    color: white; 
    text-decoration: none; 
    font-size: larger; 
    font-weight: 500; 
    margin: .8rem 0;
}
